@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_NavLayout.cshtml";

}

@* TODO: Conditionally highlight class or lowered opacity depending on database value if person is inside the gym *@

@* Start Navigation *@
<nav class="main-nav">
    <i class="fa fa-bars" onclick="openNav()"></i>
</nav>

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div class="nav-other">
        <a class="border-nav" href="#">Unlock Door</a>
        <a class="border-nav" href="#">Select Facility</a>
        <a class="border-nav" href="#">Dashboard</a>
    </div>
    @*<div >
            <a href="#">Contact</a>
        </div>*@

    <a>
        <div id="logout-main">
            <i class="fa fa-sign-out"></i>
        </div>
    </a>
</div>

@* End Navigation *@


<div class="@(true?" main-gym":"not-in-use")">
    @* e.g <div class="@(Model.CanEdit?"visible-item":"hidden-item")">Some links</div> OR see if I can use JavaScript/ jQuery so it is more transferrable to Python *@
    <div class="main-gym-icon">
        <div class="title-name">
            GYM PASS
        </div>


        <div class="main-pop-cont">
            <div class="realtime-indicator">
                <div class="realtime-icons">
                    <img src="~/images/dumbbell.png" />
                </div>
                15
            </div>
            <div class="realtime-indicator">
                <div class="realtime-icons">
                    <img src="~/images/icons8-treadmill-100.png" />
                </div>
                20
            </div>
            <div class="realtime-indicator">
                <div class="realtime-icons">
                    <img src="~/images/icons8-warm-up-100.png" />
                </div>
                5
            </div>
            <div class="realtime-indicator">
                <div class="realtime-icons">
                    <img src="~/images/Capacity/capacity-80.png" />
                </div>
                40
            </div>
        </div>
    </div>
</div>

<div class="access">
    <div class="access-container">
        <div class="locked">
            <i class="fa fa-lock"></i>
        </div>
        <br />
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
        </div>
        <div class="door-status">
            DOOR: OPEN/CLOSE
        </div>
    </div>
</div>

